{% extends 'exam/baseProf.html' %}

{% block title %}Quiz{% endblock %}

{% block content %}
{% load staticfiles %}

<form method="post">
    {%csrf_token%}
<div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
<div class="col-lg-6">
                                          <strong class="card-title">{{user.username}}</strong></div>

                            <div class="col-lg-6">
                            <a href="{%url 'sendMail'%}" class="btn btn-block btn-success">send mail</a>
                            </div>                       </div>
                        <div class="card-body">
                  <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                          <th>affectation</th>

                      </tr>
                    </thead>



                              <tbody>  {% for profile in profiles %}
                                <tr>
                                  <td>{{profile.user.username}}</td>
                                  <td>{{profile.user.email}}</td>
                                  <td>{{profile.user.is_prof}}</td>
                                    <td><input type="checkbox" name="affected" value="{{profile.user.id}}"></td>
                                </tr>
{%endfor%}
                              </tbody>


                  </table><center>
                            <input type="submit" value="submit" class="btn btn-block btn-success"></center>
                        </div>
                    </div>
                </div>
    </form>

    <script src="{%static 'assets/js/lib/data-table/datatables.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/dataTables.bootstrap.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/dataTables.buttons.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/buttons.bootstrap.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/jszip.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/pdfmake.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/vfs_fonts.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/buttons.html5.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/buttons.print.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/buttons.colVis.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/datatables-init.js'%}"></script>
{% endblock %}