
{% extends my_template %}


{% block title %}Quiz{% endblock %}

{% block content %}

{% for certificat in certif %}
{%if certificat.exam.certified = True %}

  <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/exam{{certificat.exam.logo.url}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>{{certificat.exam.name}}</h3>
            <a class="btn btn-primary" href="{% url 'imprimeCertif' certificat.exam.id %}">imprime</a>




        </div>
      </div>
{%endif%}

{%endfor%}






{% endblock %}
