{% extends 'exam/baseProf.html' %}
{% load staticfiles %}

{% block title %}Quiz{% endblock %}

{% block content %}
<div class="card"  >

                                 <div class="card-header">

                                          <strong class="card-title">{{user.username}}</strong></div>

             <div class="card-body">
                  <table id="bootstrap-data-table" class="table table-striped table-bordered">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">professor</th>
                                  <th scope="col">student</th>
                                  <th scope="col">exam</th>
                                </tr>
                              </thead>



                              <tbody>         {% for profile in profiles %}
                                <tr>
                                  <td>{{profile.professor.username}}</td>
                                  <td>{{profile.student.username}}</td>
                                  <td>{{profile.exam.name}}</td>
                                </tr>
{%endfor%}
                              </tbody>

</table>

         </div></div>


  <script src="{%static 'assets/js/lib/data-table/datatables.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/dataTables.bootstrap.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/dataTables.buttons.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/buttons.bootstrap.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/jszip.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/pdfmake.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/vfs_fonts.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/buttons.html5.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/buttons.print.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/buttons.colVis.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/datatables-init.js'%}"></script>

{% endblock %}