{% extends 'exam/baseProf.html' %}

{% block title %}Quiz{% endblock %}

{% block content %}
{%for quest in exam.question_set.all %}
<div class="col-lg-12" >


                            <div class="card">
                                <div class="card-header">
                                    <h4>Exam {{examen.name}}</h4>
                                </div>
                                <div class="card-body">





     {%if quest.multi_choice_answer_set.all %}
                                                 <div class="col col-md-3"><label class=" form-control-label">{{quest.description}}</label></div>
                            <div class="col col-md-9">
                              <div class="form-check">
                                   {%for choix in quest.multi_choice_answer_set.all %}
                                <div class="radio">
                                  <label class="form-check-label ">
                                    {%if choix.points == 0%}
                                      <input type="checkbox"  name="radiosM" class="form-check-input" readonly="readonly" disabled >{{choix.multi_variant}}
                                  {%else%}
                       <input type="checkbox"  name="radiosM" class="form-check-input" checked readonly="readonly"disabled >{{choix.multi_variant}}

                                                                         {%endif%}

                                  </label>
                                </div>

                                  {%endfor%}

                              </div>
                            </div>

               {%endif%}
{%if quest.one_answer_set.all %}
                                                 <div class="col col-md-3"><label class=" form-control-label">{{quest.description}}</label></div>
                            <div class="col col-md-9">
                              <div class="form-check">
                                   {%for choix in quest.one_answer_set.all %}
                                <div class="radio">
                                  <label class="form-check-label ">
                                    {%if choix.points == 0%}

                            <input type="radio"  name="radios"  class="form-check-input" disabled>{{choix.answer_variant}}
                                  {%else%}
                                      <input type="radio"  name="radios"  class="form-check-input" checked disabled>{{choix.answer_variant}}

                                   {%endif%}
                                  </label>
                                </div>

                                  {%endfor%}

                              </div>
                            </div>

               {%endif%}
                                {%if quest.free_text_set.all %}



          {%for choix in quest.free_text_set.all %}
 <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">{{quest.description}}</label></div>
<div class="col-12 col-md-9">


    <textarea name="text"  rows="9"  placeholder="Content..." class="form-control" readonly="readonly" >{{choix.text}}</textarea>



    </div>
                          </div>

    <br>{%endfor%}


                                               {%endif%}



</div></div>                                </div>



       {%endfor%}
<!--retour du debut c est pour cela en doit stoker la variable dans une valeur poste pour qu il soit un raffrechissement-->
<!--remplacer l expression de expirer par un arret brusque de systeme en ajoutant une variable de retour vers django et faire comme condition d arret -->
<!--timer c est le temps de l examen qui doit etre changer en django ulterieurment-->
                                        <a style="margin-left:40px" href="/exam/correction" class="btn btn-primary btn-lg">return</a>


{% endblock %}
