{% extends 'exam/baseProf.html' %}

{% block title %}Quiz{% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="content mt-3">
            <div class="animated fadeIn">

                <div class="row">

                        <div class="col-xs-12 col-sm-12">
                            <form method="POST" action="/exam/secondeQuest/" enctype="multipart/form-data">
                                 {%csrf_token%}
                            <div class="card">
                                <div class="card-header">
                                    <div class="col-lg-6 ">
                                    <strong>Create Question</strong></div>
                                    <div class="col-lg-6"><a href="/exam/" class="btn btn-secondary btn-block">FINISH</a> </div>
                                </div>
                                <div class="card-body card-block">
                                    <div class="form-group">
                                        <label class=" form-control-label">Description: </label>
                                        <div class="input-group">
                                            <input class="form-control" name="Description" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class=" form-control-label">Header text :</label>
                                        <div class="input-group">
                                            <input class="form-control"name="Header_text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class=" form-control-label">Footer text :</label>
                                        <div class="input-group">
                                            <input class="form-control"name="Footer_text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class=" form-control-label">Success msg :</label>
                                        <div class="input-group">
                                            <input class="form-control"  name="Success_msg">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class=" form-control-label">fail msg :</label>
                                        <div class="input-group">
                                            <input class="form-control"  name="Fail_msg">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class=" form-control-label">points :</label>
                                        <div class="input-group">
                                            <input class="form-control" type="number" name="points">
                                        </div>
                                    </div>


                                </div>
                            </div>
                                 <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">Question Type</strong>
                                </div>
                                <div class="card-body">

                                      <select data-placeholder="Choose a type..." class="standardSelect" tabindex="1" id="typ" name="type" onchange="type()">
                                        <option value=""></option>
                                        <option value="one">one answer</option>
                                        <option value="multiple">multiple answer</option>
                                        <option value="free">Free Text</option>

                                    </select>
                                </div>
                            </div>
                                 <div class="card"  id="one">
 <div class="card-header">
                            <strong class="card-title">One Answer Question</strong>
 </div>
                        <div class="card-body">
                            <table class="table">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">answer variant</th>
                                  <th scope="col">answer description</th>
                                  <th scope="col">points</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td><input type="text"class="form-control" name="answer_variant1"></td>
                                  <td><input type="text"class="form-control" name="answer_description1"></td>
                                  <td><input type="radio"class="form-control" name="pointsAns" value="1"></td>
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td><input type="text"class="form-control" name="answer_variant2"></td>
                                  <td><input type="text"class="form-control" name="answer_description2"></td>
                                  <td><input type="radio"class="form-control" name="pointsAns" value="2"></td>
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                  <td><input type="text"class="form-control" name="answer_variant3"></td>
                                  <td><input type="text"class="form-control" name="answer_description3"></td>
                                  <td><input type="radio"class="form-control" name="pointsAns" value="3"></td>
                                </tr>
                               <tr id="4" >
                                  <th scope="row">4</th>
                                  <td><input type="text"class="form-control" name="answer_variant4" value=" "></td>
                                  <td><input type="text"class="form-control" name="answer_description4"></td>
                                  <td><input type="radio"class="form-control" name="pointsAns" value="4"></td>
                                </tr>
                              <tr id="5" >
                                  <th scope="row">5</th>
                                  <td><input type="text"class="form-control" name="answer_variant5" value=" "></td>
                                  <td><input type="text"class="form-control" name="answer_description5"></td>
                                  <td><input type="radio"class="form-control" name="pointsAns" value="5"></td>
                                </tr>
                              <tr id="6" >
                                  <th scope="row">6</th>
                                  <td><input type="text"class="form-control" name="answer_variant6" value=" "></td>
                                  <td><input type="text"class="form-control" name="answer_description6"></td>
                                  <td><input type="radio"class="form-control" name="pointsAns" value="6"></td>
                                </tr>
                              </tbody>
                            </table>
<div id="clickme">
 <i class="fa fa-plus-circle" style="font-size: 32px;"></i>
</div>
                            <div id="min" >
 <i class="fa fa-minus-circle" style="font-size: 32px;"></i>
</div>
                        </div>
                    </div>




                                 <div class="card"  id="mult">

                                 <div class="card-header">
                            <strong class="card-title">MultiAnswer Question</strong>
 </div>
                        <div class="card-body">
                            <table class="table">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">answer variant</th>
                                  <th scope="col">answer description</th>
                                  <th scope="col">points</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td><input type="text"class="form-control" name="answer_variant1m"></td>
                                  <td><input type="text"class="form-control" name="answer_description1m"></td>
                                  <td><input type="checkbox"class="form-control" name="check" value="1"></td>
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td><input type="text"class="form-control" name="answer_variant2m"></td>
                                  <td><input type="text"class="form-control" name="answer_description2m"></td>
                                  <td><input type="checkbox"class="form-control" name="check" value="2"></td>
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                  <td><input type="text"class="form-control" name="answer_variant3m"></td>
                                  <td><input type="text"class="form-control" name="answer_description3m"></td>
                                  <td><input type="checkbox"class="form-control" name="check" value="3"></td>
                                </tr>
                              </tbody>
                            </table>

                        </div>
                            </div>
                                 <div class="card"  id="free">
                                <div class="card-header">
                                    <strong class="card-title">Free Text Question</strong>
                                </div>
                                <div class="card-body">

                                      <textarea class="form-control" placeholder="The Text ..." name="text"></textarea>
                                </div>
                            </div>
 <center>    <button class="btn btn-success btn-lg" type="submit" name="submit">Create</button>
                             </center>   <br><br><hr>
</form>
                        </div>




                </div>


            </div><!-- .animated -->
        </div><!-- .content -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
 $('#one').hide();
 $('#4').hide();
  $('#5').hide();
    $('#6').hide();

  $('#mult').hide();
   $('#free').hide();
$('#typ').change(function(){
 if ( $("#typ").val() == "one" ){ $('#one').show();$('#mult').hide();$('#free').hide();}
    if ( $("#typ").val() == "multiple" ){$('#mult').show(); $('#one').hide();$('#free').hide();}
    if ( $("#typ").val() == "free" ){$('#free').show(); $('#mult').hide();$('#one').hide();}

});
$( "#clickme" ).click(function() {
 if ( $( "#5").is(":visible") ){   $( "#6" ).show();}

 if ( $( "#4").is(":visible") ){   $( "#5" ).show();}

  $( "#4" ).show();
});
$( "#min" ).click(function() {
 if ( $( "#5").is(":hidden") ){   $( "#4" ).hide();}

 if ( $( "#6").is(":hidden") ){   $( "#5" ).hide();}

$( "#6" ).hide();
});
});
</script>
    <!-- /.container -->
{% endblock %}
