{% extends 'exam/baseProf.html' %}

{% block title %}Quiz{% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="content mt-3">
            <div class="animated fadeIn">
                            <form method="POST" action="/exam/createQuest/" enctype="multipart/form-data">

                <div class="row">

                        <div class="col-xs-6 col-sm-6">
                                 {%csrf_token%}
                            <div class="card">
                                <div class="card-header">
                                    <strong>Create Exam</strong>
                                </div>
                                <div class="card-body card-block">
                                    <div class="form-group">
                                        <label class=" form-control-label">Name :</label>
                                        <div class="input-group">
                                            <input class="form-control" name="examName" placeholder="Exam ...">
                                        </div>
                                        <small class="form-text text-muted"></small>
                                    </div>
                                    <div class="form-group">
                                        <label  class=" form-control-label">Description</label>
                                        <div class="input-group">
                                            <textarea name="ExamDesc" id="ExamDesc" rows="4" placeholder="Content..." class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class=" form-control-label">Logo :</label>
                                        <div class="input-group">
                                            <input class="form-control" type="file" name="logo">
                                        </div>
                                    </div>


                                </div>
                            </div>
   <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">Total Score </strong>
                                </div>
                                <div class="card-body">
 <div class="form-group">

                                        <div class="input-group">
                                            <input class="form-control" name="score" placeholder="score of exam ..." type="number" value="0">
<!--<datalist id="timer">-->
      <!--<option>00</option>-->

  <!--<option>60</option>-->
  <!--<option>45</option>-->
                                            <!--</datalist>                                        </div>--></div>
                                    </div>

                                    </select>
                                </div>
                            </div>


                        </div>


  <div class="col-lg-6">
                                <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">Category</strong>
                                </div>
                                <div class="card-body">

                                      <select data-placeholder="Choose a Category..." class="standardSelect" tabindex="1" name="category">
                                        <option value=""></option>
                                        <option value="WEB">WEB</option>
                                        <option value="IOT">IOT</option>
                                        <option value="devops">devops</option>
                                        <option value="United Kingdom">IOT</option>

                                    </select>
                                </div>
                            </div>


            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">Type of Exam</strong>
                                </div>
                                <div class="card-body">

                                      <select data-placeholder="Choose a Type..." class="standardSelect" tabindex="1" name="type"  id="typ" onchange="type()">
                                        <option value=""></option>
                                        <option value="training">Training</option>
                                        <option value="one">One attempt</option>

                                    </select>
<br><br><br>
                                   <div class="form-group"  id="one">
                                        <label class=" form-control-label">certified :</label>
                                        <div class="input-group">
                                            <input class="form-control" name="certified" type="radio" value="yes">Yes
                                            <input class="form-control" name="certified" type="radio" value="no">No
                                        </div>
                                        <small class="form-text text-muted"></small>
                                    </div>
                                </div>
                            </div>

                <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">Timer</strong>
                                </div>
                                <div class="card-body">
 <div class="form-group">

                                        <div class="input-group">
                                            <input class="form-control" name="timer" placeholder="time of exam ..." type="number" value="0">
<!--<datalist id="timer">-->
      <!--<option>00</option>-->

  <!--<option>60</option>-->
  <!--<option>45</option>-->
                                            <!--</datalist>                                        </div>--></div>
                                        <small class="form-text text-muted"> nothing mean that the time is unlimited</small>
                                    </div>

                                    </select>
                                </div>
                            </div>


                                <center>    <button class="btn btn-success btn-lg" type="submit" name="submit" sy >Create</button>
                                        <a style="margin-left:40px" href="/exam" class="btn btn-primary btn-lg">return</a>
                             </center>
                  </div>

                </div>
</form>


            </div><!-- .animated -->
        </div><!-- .content -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
 $('#one').hide();

$('#typ').change(function(){
 if ( $("#typ").val() == "one" ){ $('#one').show();}

});
});
</script>
    <!-- /.container -->
{% endblock %}
