{% extends my_template %}


{% block title %}Quiz{% endblock %}

{% block content %}
{% load staticfiles %}

<form method="post">
    {%csrf_token%}
<div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
<div class="col-lg-6">
                                          <strong class="card-title">{{user.username}} </strong></div>
                    </div>
                        <div class="card-body">
                  <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>exam name</th>
                        <th>Type</th>
                        <th>logo</th>
                          <th>consult</th>
                          <th>edit</th>
                          <th>add</th>
                          <th>delete</th>
                          <th>invite</th>

                      </tr>
                    </thead>



                              <tbody>   {% for exam in all_exam %}
                                <tr>
                                  <td>{{exam.name}}</td>
                                  <td>{{exam.type}}</td>

                                  <td><center>{% if exam.logo %}  <img class="align-self-center mr-3" style="width:85px; height:85px;" alt="" src="/exam{{exam.logo.url}}">{% endif %}
</center></td>

                                    <td>                                        <a href="/exam/{{exam.id}}"> <i class="fa fa-file-pdf-o"></i> Consult Exam <span class="badge badge-primary pull-right"></span></a>
</td>
                                    <td>                                        <a href="/exam/{{exam.id}}/edit"> <i class="fa fa-edit"></i> Edit Exam <span class="badge badge-danger pull-right"></span></a>
</td>
                                    <td>                                        <a href="/exam/{{exam.id}}/addQuest"> <i class="fa fa-plus-circle"></i> Add Question <span class="badge badge-success pull-right"></span></a>
</td>
                                    <td>                                        <a href="/exam/{{exam.id}}/deleteEXam"> <i class="fa fa-remove"></i> Delete Exam <span class="badge badge-warning pull-right r-activity"></span></a>
</td>
                                    <td>                                        <a href="/exam/{{exam.id}}/invitating"> <i class="fa fa-group"></i> Invitations <span class="badge badge-warning pull-right r-activity"></span></a>
</td>
                                </tr>
{%endfor%}
                              </tbody>


                  </table>
                        </div>
                    </div>
                </div>
    </form>
    <script src="{%static 'assets/js/lib/data-table/datatables.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/dataTables.bootstrap.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/dataTables.buttons.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/buttons.bootstrap.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/jszip.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/pdfmake.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/vfs_fonts.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/buttons.html5.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/buttons.print.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/buttons.colVis.min.js'%}"></script>
    <script src="{%static 'assets/js/lib/data-table/datatables-init.js'%}"></script>
{% endblock %}
<!--<div class="col-md-4">-->




                        <!--<aside class="profile-nav alt">-->
                            <!--<section class="card">-->
                                <!--<div class="card-header user-header alt bg-dark">-->
                                    <!--<div class="media">-->
                                        <!--<a href="#">-->
                                            <!--<img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="/exam{{exam.logo.url}}">-->
                                        <!--</a>-->
                                        <!--<div class="media-body">-->
                                            <!--<h2 class="text-light display-6">{{exam.name}}</h2>-->
                                            <!--<p>type exam</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->


                                <!--<ul class="list-group list-group-flush">-->
                                    <!--<li class="list-group-item">-->
                                        <!--<a href="/exam/{{exam.id}}"> <i class="fa fa-file-pdf-o"></i> Consult Exam <span class="badge badge-primary pull-right"></span></a>-->
                                    <!--</li>-->
                                    <!--<li class="list-group-item">-->
                                        <!--<a href="/exam/{{exam.id}}/edit"> <i class="fa fa-edit"></i> Edit Exam <span class="badge badge-danger pull-right"></span></a>-->
                                    <!--</li>-->
                                    <!--<li class="list-group-item">-->
                                        <!--<a href="/exam/{{exam.id}}/addQuest"> <i class="fa fa-plus-circle"></i> Add Question <span class="badge badge-success pull-right"></span></a>-->
                                    <!--</li>-->
                                    <!--<li class="list-group-item">-->
                                        <!--<a href="/exam/{{exam.id}}/deleteEXam"> <i class="fa fa-remove"></i> Delete Exam <span class="badge badge-warning pull-right r-activity"></span></a>-->
                                    <!--</li>-->
                                     <!--<li class="list-group-item">-->
                                        <!--<a href="/exam/{{exam.id}}/invitating"> <i class="fa fa-group"></i> Invitations <span class="badge badge-warning pull-right r-activity"></span></a>-->
                                    <!--</li>-->
                                <!--</ul>-->

                            <!--</section>-->
                        <!--</aside>-->
                    <!--</div>-->

<!--<div class="card"  >-->

                                 <!--<div class="card-header">-->

                                          <!--<strong class="card-title">List</strong></div>-->

             <!--<div class="card-body">-->
                  <!--<table id="bootstrap-data-table" class="table table-striped table-bordered">-->
                              <!--<thead class="thead-dark">-->
                                <!--<tr>-->
                                  <!--<th scope="col">exam</th>-->
                                  <!--<th scope="col">Action</th>-->
                                <!--</tr>-->
                              <!--</thead>-->



                              <!--<tbody>         {% for exam in all_exam %}-->
                                <!--<tr>-->
                                  <!--<td>{{exam.name}}</td>-->

                                    <!--<td>-->
     <!--<a class="btn btn-primary" href="/exam/{{exam.id}}/passe">PASSE THE EXAM</a>-->

            <!--<a class="btn btn-primary" href="/exam/{{exam.id}}">CONSULT</a>-->
            <!--<a class="btn btn-primary" href="/exam/{{exam.id}}/edit">EDIT</a>-->
            <!--<a class="btn btn-primary" href="/exam/{{exam.id}}/addQuest">ADD QUESTION</a>-->
            <!--<a class="btn btn-primary" href="/exam/{{exam.id}}/deleteEXam">DELETE</a>-->
            <!--<a class="btn btn-primary" href="/exam/{{exam.id}}/invitating">INVITATION</a>-->
                                    <!--</td>-->
                                <!--</tr>-->
<!--{%endfor%}-->
                              <!--</tbody>-->

<!--</table>-->

         <!--</div></div>-->


    <!-- Page Content -->
    <!--<div class="container">-->
            <!--<div class="col-sm-12">-->
                <!--<div class="alert  alert-success alert-dismissible fade show" role="alert">-->
                  <!--<span class="badge badge-pill badge-success">Success</span> You successfully logged in {{ user.username }}.-->
                    <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
                        <!--<span aria-hidden="true">&times;</span>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->

      <!--&lt;!&ndash; Page Heading &ndash;&gt;-->
      <!--<h1 >Les Examens-->
      <!--</h1>-->

      <!--&lt;!&ndash; Project One &ndash;&gt;-->

    <!--{% for exam in all_exam %}-->

<!--<br>-->


      <!--<div class="row">-->
        <!--<div class="col-md-7">-->
          <!--<a href="#">-->
            <!--<img class="img-fluid rounded mb-3 mb-md-0" src="/exam{{exam.logo.url}}" alt="">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="col-md-5">-->
          <!--<h3>{{exam.name}}</h3>-->
            <!--<p>{{exam.name}}</p>-->
            <!--<a class="btn btn-primary" href="/exam/{{exam.id}}/passe">PASSE THE EXAM</a>-->

            <!--<a class="btn btn-primary" href="/exam/{{exam.id}}">CONSULT THE EXAM</a>-->
            <!--<a class="btn btn-primary" href="/exam/{{exam.id}}/edit">EDIT THE EXAM</a>-->
            <!--<a class="btn btn-primary" href="/exam/{{exam.id}}/addQuest">ADD QUESTION</a>-->
            <!--<a class="btn btn-primary" href="/exam/{{exam.id}}/deleteEXam">DELETE EXAM</a>-->
            <!--<a class="btn btn-primary" href="/exam/{{exam.id}}/invitating">INVITATION TO EXAM</a>-->



        <!--</div>-->
      <!--</div><hr>-->
      <!--&lt;!&ndash; /.row &ndash;&gt;-->
<!--{%endfor%}-->




      <!--<hr>-->

      <!--&lt;!&ndash; Pagination &ndash;&gt;-->

    <!--</div>-->
    <!-- /.container -->
