{% extends 'exam/baseProf.html' %}

{% block title %}Quiz{% endblock %}

{% block content %}


<form method="post">
      {%csrf_token%}
      <div class="card" >
                                <div class="card-header">
                                    <h4>Exam {{examen.name}}</h4>
                                </div>
                                <div class="card-body">

    <div class="row form-group">


                                    {% for profile in profiles %}                            <div class="col col-md-3"><label class=" form-control-label"></label></div>

        <div class="col col-md-9">
                              <div class="form-check">
 <div class="checkbox">
                                  <label for="checkbox1" class="form-check-label ">
                                    <input type="checkbox" id="checkbox1" value="{{profile.student.id}}" class="form-check-input" name="user">{{profile.student.username}}

                                  </label>
 </div><br></div>
                            </div>

                                {%endfor%}


</div>

                          </div>
      </div>
<input type="submit" value="submit">
</form>


{% endblock %}