{% extends my_template %}

{% block title %}Quiz{% endblock %}

{% block content %}

                            <div class="card" >
                                <div class="card-header">
                                    <h4>Exam {{examen.name}}</h4>
                                </div>
                                <div class="card-body">

<div class="col-lg-8" >
    <center><h1>Commancer</h1></center>
</div>
<div class="col-lg-4" >
                                                 {% for question in examen.question_set.all %}
    {%if forloop.counter == 1 %}
<a href="{{firstid}}" class="btn btn-block btn-success">commancer</a>
{%endif%}
                                            {%endfor%}

</div>

                                </div>
                            </div>





{% endblock %}
