{% extends my_template %}
{% block title %}Quiz{% endblock %}

{% block content %}


    <div class="col-md-2"></div><div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Profile Card</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    {% if profile.image %}
                                    <img class="rounded-circle mx-auto d-block" src="/exam{{profile.image.url}}" alt="Card image cap">
                                    {% endif %}
                                    <h5 class="text-sm-center mt-2 mb-1">{{profile.user.username}}</h5>

                                      <center><div > {{profile.user.first_name}} {{profile.user.last_name}}  </div>
</center>
                                    <div class="location text-sm-center"><i class="fa fa-map-marker"></i> {{profile.location}}</div>
                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <a href="#"><i class="fa fa-facebook pr-1"></i></a>
                                    <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                                    <a href="#"><i class="fa fa-linkedin pr-1"></i></a>
                                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                                </div>
                            </div><a href="{%url 'updateProfile'%}" class="btn btn-block btn-success">update</a>
                        </div>
                    </div>
{% endblock %}