{% extends 'exam/baseProf.html' %}

{% block title %}Quiz{% endblock %}

{% block content %}

<div class="col-lg-8" >


                            <div class="card">
                                <div class="card-header">
                                    <h4>Exam {{examen.name}}</h4>
                                </div>
                                <div class="card-body">
                            {% for question in liste %}
                                                                                {%if forloop.counter0 == i %}

                                    <form method="post" action="{{question.id}}">
                                        {% elif forloop.counter == length%}
                                                                            <form method="post" action="">

 {%endif%}

                                                                                    {%endfor%}

                                     {%csrf_token%}
<input type="hidden" value="{{quest.id}}" name="id">

     {%if quest.multi_choice_answer_set.all %}
                                                 <div class="col col-md-3"><label class=" form-control-label">{{quest.description}}</label></div>
                            <div class="col col-md-9">
                              <div class="form-check">
                                   {%for choix in quest.multi_choice_answer_set.all %}
                                <div class="radio">
                                  <label for="{{choix.id}}" class="form-check-label ">
                            {%if exist %}
                               {%for reponse in listeSession%}
                                  {%if reponse.0 == quest.id %}


                                    {%if  choix.id in reponse.1%}


                                    <input type="checkbox"  name="radiosM" value="{{choix.id}}" class="form-check-input" checked>{{choix.multi_variant}}
                                      {% else %}
                                      <input type="checkbox"  name="radiosM" value="{{choix.id}}" class="form-check-input">{{choix.multi_variant}}
                                      {% endif %}


                                  {%endif%}
                                {%endfor%}
<!--problem fel selecter-->
                             {% else %}
                                      <input type="checkbox"  name="radiosM" value="{{choix.id}}" class="form-check-input">{{choix.multi_variant}}
                             {%endif%}
                                  </label>
                                </div>

                                  {%endfor%}

                              </div>
                            </div>

               {%endif%}
{%if quest.one_answer_set.all %}
                                                 <div class="col col-md-3"><label class=" form-control-label">{{quest.description}}</label></div>
                            <div class="col col-md-9">
                              <div class="form-check">
                                   {%for choix in quest.one_answer_set.all %}
                                <div class="radio">
                                  <label for="{{choix.id}}" class="form-check-label ">
                                      {%if exist %}
                                      {%for reponse in listeSession%}
                                      {%if reponse.0 == quest.id %}
                                      {%if reponse.1 == choix.id %}
                                    <input type="radio"  name="radios"value="{{choix.id}}" class="form-check-input" checked="checked">{{choix.answer_variant}}
                                      {% else %}
                                    <input type="radio"  name="radios"value="{{choix.id}}" class="form-check-input">{{choix.answer_variant}}
                                  {%endif%}
                                      {%endif%}
                                      {%endfor%}

                                      {% else %}
                                    <input type="radio" id="{{choix.id}}" name="radios"value="{{choix.id}}" class="form-check-input">{{choix.answer_variant}}
                                  {%endif%} </label>
                                </div>

                                  {%endfor%}
                                  <a href="#{{question.id}}" class="btn btn-block ">{{forloop.counter}}</a>

                              </div>
                            </div>

               {%endif%}
                                {%if quest.free_text_set.all %}



          {%for choix in quest.free_text_set.all %}
 <div class="row form-group">
                            <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">{{quest.description}}</label></div>
<div class="col-12 col-md-9">

                                      {%if exist %}
                                      {%for reponse in listeSession%}

    {%if reponse.0 == quest.id %}
    <textarea name="text"  rows="9"  placeholder="Content..." class="form-control">{{reponse.1}}</textarea>
{%endif%}
                            {%endfor%}
    {% else %}        <textarea name="text" id="textarea-input" rows="9"  placeholder="Content..." class="form-control"></textarea>
{%endif%}


    </div>
                          </div>

    <br>{%endfor%}


                                               {%endif%}
<center><input type="submit" value="submit" class="btn btn-danger" name="submit">
</center>
                                                                                <input id="time" type="text" value="{{time}}" name="time">

    </form>

</div></div>                                </div>
<div class="col-lg-4" >
    <div class="card">
        <div class="card-header">
                        <strong>Questions   </strong>
            <button class="btn btn-success" onclick="afficher()" >correction</button>
                      </div>

                                        <div class="card-body">

{% for question in liste %}

{%for id1 in l %}
{%if id1 == question.id and id1 == quest.id%}
<a href="{{question.id}}" class="btn  btn-primary" style="margin:3px">{{forloop.parentloop.counter}}</a>
                                                   {%endif%}
                                            {%if id1 == question.id and id1 != quest.id%}

<a href="{{question.id}}" class="btn  btn-danger" style="margin:3px">{{forloop.parentloop.counter}}</a>
                                            {%endif%}
  {%endfor%}
                                            {%for id2 in listevider %}
                                            {%if id2 == question.id and id2 == quest.id %}

                                             <a href="{{question.id}}" class="btn btn-primary " style="margin:3px">{{forloop.parentloop.counter}}</a>

                                                                                        {%endif%}
                                            {%if id2 == question.id and id2 != quest.id%}

                                             <a href="{{question.id}}" class="btn  btn-success" style="margin:3px">{{forloop.parentloop.counter}}</a>

                                                                                        {%endif%}

  {%endfor%}

                                            {%endfor%}

</div>
    </div>
</div>
<center><a href="/exam/{{examen_id}}/resultExam" class="btn btn-block btn-primary">Finish</a> </center>
<p id="demo"></p>
    <div class="card-body" style="visibility:hidden" id="affiche">





     {%if quest.multi_choice_answer_set.all %}
                                                 <div class="col col-md-3"><label class=" form-control-label">{{quest.header_text}}</label></div>
                            <div class="col col-md-3">
                              <div class="form-check">
                                   {%for choix in quest.multi_choice_answer_set.all %}
                                <div class="radio">
                                  <label class="form-check-label ">
                                    {%if choix.points == 0%}
                                      <input type="checkbox"  name="radiosM" class="form-check-input" readonly="readonly" disabled >{{choix.multi_variant}}
                                  {%else%}
                       <input type="checkbox"  name="radiosM" class="form-check-input" checked readonly="readonly"disabled >{{choix.multi_variant}}

                                                                         {%endif%}

                                  </label>
                                </div>

                                  {%endfor%}

                              </div>
                            </div>
        <div class="col col-md-3">{{quest.description}}</div>
         <div class="col col-md-3"><label>explanation:</label> <br> {{quest.footer_text}}</div>
               {%endif%}
{%if quest.one_answer_set.all %}
                                                 <div class="col col-md-3"><label class=" form-control-label">{{quest.description}}</label></div>
                            <div class="col col-md-3">
                              <div class="form-check">
                                   {%for choix in quest.one_answer_set.all %}
                                <div class="radio">
                                  <label class="form-check-label ">
                                    {%if choix.points == 0%}

                            <input type="radio"  name="radios"  class="form-check-input" disabled>{{choix.answer_variant}}
                                  {%else%}
                                      <input type="radio"  name="radios"  class="form-check-input" checked disabled>{{choix.answer_variant}}

                                   {%endif%}
                                  </label>
                                </div>

                                  {%endfor%}

                              </div>
                            </div>
 <div class="col col-md-3">{{quest.description}}</div>
         <div class="col col-md-3"><label>explanation:</label> <br> {{quest.footer_text}}</div>
               {%endif%}
                                {%if quest.free_text_set.all %}



          {%for choix in quest.free_text_set.all %}
 <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">{{quest.description}}</label></div>
<div class="col-12 col-md-9">


    <textarea name="text"  rows="9"  placeholder="Content..." class="form-control" readonly="readonly" >{{choix.text}}</textarea>



    </div> <div class="col col-md-3">{{quest.description}}</div>
         <div class="col col-md-3"><label>explanation:</label> <br> {{quest.footer_text}}</div>
                          </div>

    <br>{%endfor%}


                                               {%endif%}



</div></div>

<!--retour du debut c est pour cela en doit stoker la variable dans une valeur poste pour qu il soit un raffrechissement-->
<!--remplacer l expression de expirer par un arret brusque de systeme en ajoutant une variable de retour vers django et faire comme condition d arret -->
<!--timer c est le temps de l examen qui doit etre changer en django ulterieurment-->
<script>
// Set the date we're counting down to
if ("{{first}}"==1){

var Timer=60*{{timer}} * 1000;
var countDownDate = new Date();
countDownDate.setTime(countDownDate.getTime() + Timer);
val=countDownDate+"";
document.getElementById('time').value=countDownDate;}
else{
var countDownDate=new Date(document.getElementById('time').value);
}

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
  if ({{timer}}!=10000){
    // Find the distance between now and the count down date
    var distance =countDownDate- now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"

    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";}

    // If the count down is over, write some text
    if (distance < 0) {
        clearInterval(x);
        window.stop();
        document.getElementById("demo").innerHTML = "EXPIRED";

        window.location.href="/exam/{{examen_id}}/result";
    }
}, 1000);

function afficher() {
document.getElementById('affiche').style.visibility = 'visible';
}
</script>

{% endblock %}
