{% extends 'exam/baseProf.html' %}

{% block title %}Quiz{% endblock %}

{% block content %}
<div class="card"  >

                                 <div class="card-header">
                            <strong class="card-title">send mail</strong>

                               </div>

             <div class="card-body">
 <div class="row form-group">
                            <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">E-mail</label></div>
<div class="col-12 col-md-9">


<form method="post">
 {%csrf_token%}
    <textarea name="mail"  rows="9" id="textarea-input" placeholder="Content..." class="form-control"></textarea>
<input class="btn btn-success" type="submit" value="Send">
      </form>   </div></div>




{% endblock %}