
{% extends my_template %}


{% block title %}Quiz{% endblock %}

{% block content %}

{% for examInvite in invite %}
{%if examInvite.non_passed %}

<div class="col-md-4">
                        <div class="feed-box text-center">
                            <section class="card">
                                <div class="card-body">
                                    <div class="corner-ribon blue-ribon">

                                    </div>
                                    <a href="#">
                                        {% if examInvite.exams.logo%}
                                        <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="/exam{{examInvite.exams.logo.url}}">
                                    {%endif%}</a>
                                    <h2>{{examInvite.exams.name}}</h2>
                                    <p>{{examInvite.exams.description}} </p>
                                    <a class="btn btn-primary" href="/exam/{{examInvite.exams.id}}/passeExam">PASSE THE EXAM</a>
                                </div>
                            </section>
                        </div>
                    </div>{%endif%}
{%endfor%}
  <!--<div class="row">-->
        <!--<div class="col-md-7">-->
          <!--<a href="#">-->
            <!--<img class="img-fluid rounded mb-3 mb-md-0" src="/exam{{examInvite.exams.logo.url}}" alt="">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="col-md-5">-->
          <!--<h3>{{examInvite.exams.name}}</h3>-->
            <!--<p>{{examInvite.non_passed}}</p>-->
            <!--<a class="btn btn-primary" href="/exam/{{examInvite.exams.id}}/passeExam">PASSE THE EXAM</a>-->





        <!--</div>-->
      <!--</div>-->


<!--<div class="card"  >-->

                                 <!--<div class="card-header">-->

                                          <!--<strong class="card-title">List</strong></div>-->

             <!--<div class="card-body">-->
                  <!--<table id="bootstrap-data-table" class="table table-striped table-bordered">-->
                              <!--<thead class="thead-dark">-->
                                <!--<tr>-->
                                  <!--<th scope="col">exam</th>-->
                                  <!--<th scope="col">student</th>-->
                                  <!--<th scope="col">prof</th>-->
                                    <!--<th>passe the exam</th>-->
                                <!--</tr>-->
                              <!--</thead>-->



                              <!--<tbody>         {% for examInvite in invite %}-->
                                <!--<tr>-->
                                  <!--<td>{{examInvite.exams.name}}</td>-->
                                  <!--<td>{{examInvite.student.username}}</td>-->
                                  <!--<td>{{examInvite.prof.username}}</td>-->
                                    <!--<td><a href="{%url 'passeStudent' examInvite.exams.pk %}" class="btn btn-block btn-success" >Passe</a></td>-->
                                <!--</tr>-->
<!--{%endfor%}-->
                              <!--</tbody>-->

<!--</table>-->

         <!--</div></div>-->




{% endblock %}
