{% extends my_template %}
{% block title %}Quiz{% endblock %}

{% block content %}

 <form method="POST" action="" enctype="multipart/form-data">
                                 {%csrf_token%}
                            <div class="card">
                                <div class="card-header">
                                    <div class="col-lg-6 ">
                                    <strong>Update Profile</strong></div>
                                </div>
                                <div class="card-body card-block">
                                    <div class="form-group">
                                        <label class=" form-control-label">username: </label>
                                        <div class="input-group">
                                            <input class="form-control" name="username" value="{{profile.user.username}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class=" form-control-label">first name :</label>
                                        <div class="input-group">
                                            <input class="form-control"name="first_name" value="{{profile.user.first_name}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class=" form-control-label">last name :</label>
                                        <div class="input-group">
                                            <input class="form-control"name="last_name" value="{{profile.user.last_name}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class=" form-control-label">Location :</label>
                                        <div class="input-group">
                                            <input class="form-control"name="location" value="{{profile.location}}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class=" form-control-label">image :</label>
                                        <div class="input-group">
                                            <input class="form-control" type="file" name="image">
                                        </div>
                                    </div>
<center><button class="btn btn-success btn-lg">submit</button></center>


                                </div>
                            </div>
 </form>
{% endblock %}