{% extends 'authentification/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <h2>Home</h2>
{% if user.is_authenticated %}
<h2>{{ user.get_full_name }}</h2>
<ul>
  <li>Username: {{ user.username }}</li>
  <li>Location: {{ user.profile.is_prof }}</li>
</ul>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'log' %}">login</a>
{% endif %}
{% endblock %}
