<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gazela Technople Academy</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{% static 'assets/css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css'%}">

          <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{% static 'assets/scss/style.css'%}">
    <link href="{% static 'assets/css/lib/vector-map/jqvmap.min.css'%}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
  </head>
      <body class="bg-dark">






        <form action="" method="post" >
            {%csrf_token%}
    <!-- Page Content -->
   <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="">
                        <h2>Quiz</h2>
                        <img class="align-content" src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form>
                        <div class="form-group">
                            <label>Username :</label>
                                <input type="text"
       name="{{ form.username.name }}"
       id="{{ form.username.id_for_label }}"
       {% if form.name.value != None %}value="{{ form.name.value|stringformat:'s' }}"{% endif %}
       maxlength="{{ form.name.field.max_length }}"
       {% if form.name.field.required %}required{% endif %}
                                class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password"
       name="{{ form.password.name }}"
                          id="{{ form.password.id_for_label }}"

       {% if form.name.value != None %}value="{{ form.password.value|stringformat:'s' }}"{% endif %}
       maxlength="{{ form.password.field.max_length }}"
       {% if form.name.field.required %}required{% endif %}  class="form-control" placeholder="Password"    >
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                            <label class="pull-right">
                                <a href="#">Forgotten Password?</a>
                            </label>

                        </div>

                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" class="btn btn-primary"  type="{{title}}">Sign in</button>
                        <div class="social-login-content">

                        </div>
                        <div class="register-link m-t-15 text-center">
                            <p>Don't have account ? <a href="{% url 'register'%}"> Sign Up Here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>

      <!-- Page Heading -->
      <!--<h1 class="my-4">Authentification-->
      <!--</h1>-->

      <!-- Project One -->


<!--<br>-->

      <!--{%if form.errors %}-->
            <!--<div class="col-sm-12">-->
                <!--<div class="alert  alert-fail alert-dismissible fade show" role="alert">-->
                  <!--<span class="badge badge-pill badge-fail">fail</span> somthing wrong in your login.-->
                    <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
                        <!--<span aria-hidden="true">&times;</span>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->


            <!--{%endif%}-->

            <!--{%if next %}-->
      <!--<h1>access</h1>-->
      <!--{%endif%}-->

      <!--<div class="row">-->
        <!--<form action="" method="post" >-->
            <!--{%csrf_token%}-->


           <!--<input type="text"-->
       <!--name="{{ form.username.name }}"-->
       <!--id="{{ form.username.id_for_label }}"-->
       <!--{% if form.name.value != None %}value="{{ form.name.value|stringformat:'s' }}"{% endif %}-->
       <!--maxlength="{{ form.name.field.max_length }}"-->
       <!--{% if form.name.field.required %}required{% endif %}>-->
            <!--<input type="password"-->
       <!--name="{{ form.password.name }}"-->
                          <!--id="{{ form.password.id_for_label }}"-->

       <!--{% if form.name.value != None %}value="{{ form.password.value|stringformat:'s' }}"{% endif %}-->
       <!--maxlength="{{ form.password.field.max_length }}"-->
       <!--{% if form.name.field.required %}required{% endif %}>-->
                <!--<button class="btn btn-primary"  type="{{title}}">Login</button>-->
   </div>
</form>
      <!-- /.row -->








    <!-- /.container -->
    <script src="{% static 'assets/js/vendor/jquery-2.1.4.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js'%}"></script>
    <script src="{% static 'assets/js/plugins.js'%}"></script>
    <script src="{% static 'assets/js/main.js'%}"></script>
</body>

</html>
