
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gazela Technople Academy</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{% static 'assets/css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css'%}">

          <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{% static 'assets/scss/style.css'%}">
    <link href="{% static 'assets/css/lib/vector-map/jqvmap.min.css'%}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
  </head>
      <body class="bg-dark">






        <form action="" method="post" >
            {%csrf_token%}
    <!-- Page Content -->
   <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="">
                                <h2><strong>Authentification </strong></h2>
                    </a>
                </div>
                <div class="login-form">

                        <div class="form-group">
                            <label>Username :</label>
                                <input type="text"
       name="{{ form.username.name }}"
       id="{{ form.username.id_for_label }}"
       {% if form.name.value != None %}value="{{ form.name.value|stringformat:'s' }}"{% endif %}
       maxlength="{{ form.name.field.max_length }}"
       {% if form.name.field.required %}required{% endif %}
                                class="form-control" placeholder="username">
                        </div>
                    <div class="form-group">
                            <label>Username :</label>
                                <input type="text"
       name="{{ form.email.name }}"
       id="{{ form.email.id_for_label }}"
       {% if form.name.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}
       maxlength="{{ form.email.field.max_length }}"
       {% if form.name.field.required %}required{% endif %}
                                class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password"
       name="{{ form.password1.name }}"
                          id="{{ form.password1.id_for_label }}"

       {% if form.name.value != None %}value="{{ form.password1.value|stringformat:'s' }}"{% endif %}
       maxlength="{{ form.password1.field.max_length }}"
       {% if form.password1.field.required %}required{% endif %}  class="form-control" placeholder="Password"    >
                        </div>
                        <div class="form-group">
                            <label>Password Confirmation</label>
                            <input type="password"
       name="{{ form.password2.name }}"
                          id="{{ form.password2.id_for_label }}"

       {% if form.name.value != None %}value="{{ form.password2.value|stringformat:'s' }}"{% endif %}
       maxlength="{{ form.password2.field.max_length }}"
       {% if form.password2.field.required %}required{% endif %}  class="form-control" placeholder="Password"    >
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                            <label class="pull-right">
                                <a href="#">Forgotten Password?</a>
                            </label>

                        </div>

                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" class="btn btn-primary"  type="{{title}}">Sign in</button>
                        <div class="social-login-content">

                        </div>
                        <div class="register-link m-t-15 text-center">
                            <p>Already have account ? <a href="{% url 'log' %}"> Sign in</a></p>
                        </div>

                </div>
            </div>
        </div>


   </div>
</form>
      <!-- /.row -->

    <!-- /.container -->
    <script src="{% static 'assets/js/vendor/jquery-2.1.4.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js'%}"></script>
    <script src="{% static 'assets/js/plugins.js'%}"></script>
    <script src="{% static 'assets/js/main.js'%}"></script>
</body>

</html>
      <!-- Page Heading -->


      <!-- Project One -->


<br>





            <!--<div class="content mt-3">-->
            <!--<div class="animated fadeIn">-->

                <!--<div class="row">-->
    <!--<div class="col-sm-12">-->
                <!--<div class="alert  alert-danger alert-dismissible fade show" role="alert">-->
                  <!--<span class="badge badge-pill badge-danger">fail</span> somthing wrong in your registration.-->
                    <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
                        <!--<span aria-hidden="true">&times;</span>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
                    <!--<div class="col-xs-6 col-sm-6">-->
                        <!--<div class="card">-->
                            <!--<div class="card-header">-->
                                <!--<h2><strong>Authentification </strong></h2>-->
                            <!--</div>-->
                            <!--<div class="card-body card-block">-->
 <!--<form action="" method="post" >-->
            <!--{%csrf_token%}-->
                                <!--<div class="form-group">-->
                                    <!--<label class=" form-control-label">Username :</label>-->
                                    <!--<div class="input-group">-->
                                        <!--<div class="input-group-addon"><i class="fa fa-male"></i></div>-->
                                       <!--{{ form.username}}-->
                                    <!--</div>-->
                                    <!--<small>{{ form.username.errors}}</small>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class=" form-control-label">email :</label>-->
                                    <!--<div class="input-group">-->
                                        <!--<div class="input-group-addon"><i class="fa fa-asterisk"></i></div>-->
                                        <!--{{ form.email}}-->
                                    <!--</div>                   <small>{{ form.email.errors}}</small>-->

                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class=" form-control-label">password  :</label>-->
                                    <!--<div class="input-group">-->
                                        <!--<div class="input-group-addon"><i class="fa fa-asterisk"></i></div>-->
                                       <!--{{ form.password1}}-->
                                    <!--</div>-->
                   <!--<small>{{ form.password1.errors}}</small>-->

                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class=" form-control-label">password confirmation :</label>-->
                                    <!--<div class="input-group">-->
                                        <!--<div class="input-group-addon"><i class="fa fa-asterisk"></i></div>-->
                                       <!--{{ form.password2}}-->
                                    <!--</div>-->
                    <!--<small>{{ form.password2.errors}}</small>-->

                                <!--</div>-->
           <!--<hr>-->


           <!--<center>    <button class="btn btn-primary btn-lg"  type="{{title}}">Register</button></center>-->
<!--</form>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->





                <!--</div>-->


            <!--</div>&lt;!&ndash; .animated &ndash;&gt;-->
        <!--</div>-->



      <!-- /.row -->
<br>
<br>


